<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>News Expanded</title>
    <script src = "https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/news-feed.css" />
    <link rel="stylesheet" href="/css/fonts.css">
    <!--Main body-->
    <div data-role="page" style="margin: 0px; text-shadow: none; background-color: #111; color: #fff;">
        <main id="mobile-body" data-role="main">
          <!--Notifications-->
          <a href="/notifications.html">
            <div class="notification-container d-flex justify-content-between">
              <div class="previous-icon-container">
                <img src="/assets/images/previous-icon.svg" alt="previous-icon" />
              </div>
              <div class="notification-icon-container">
                  <div class="notification-icon">
                      <img src="/assets/images/bell-icon.svg" alt="bell-icon" />
                  </div>
                <div class="notification-dot"></div>
              </div>
            </div>
          </a>

          <!--Header-->
          <div class="header text-center mt-4">
              <h1>News Feed</h1>
          </div>

          <!--News section-->
          <section class="news-section">
            <div class="news-item d-flex justify-content-center">
              <div class="news-profile-image">
                <img class="me-3" src="/assets/images/profile-image.png" alt="" />
              </div>
              <div class="news-content pb-3">
                <div class="news-text">
                  <p>
                    Three persons died in auto crash, Including a police man. I saw
                    the car burn to ashes...
                  </p>
                </div>
                <div class="news-metadata">
                  <div class="news-location">
                    <img
                      class="me-1"
                      src="/assets/images/map-marker.png"
                      alt="map-marker-icon"
                    />
                    <span>Awka</span>
                  </div>
                  <div class="news-comment">
                    <img
                      class="me-1"
                      src="/assets/images/comment-bubble.png"
                      alt="map-marker-icon"
                    />
                    <span>33 comments</span>
                  </div>
                  <div class="news-posted-at">
                    <span>20mins ago </span>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <div class="fixed-navigation-tab">
            <div class="text-center mt-2">
              <img src="/assets/images/home-icon.svg" alt="home-icon" />
              <p>Home</p>
            </div>
            <div class="text-center report-emergency-button-container mt-2">
              <button
                class="report-emergency-button d-flex btn btn-danger rounded-pill"
              >
                <img
                  src="/assets/images/speaker-icon.png"
                  class="mt-1 me-2"
                  alt="speaker-icon"
                /><span class="report-emergency-button-text">Report Emergency</span>
              </button>
            </div>
            <div class="text-center mt-2">
              <img src="/assets/images/profile-icon.png" alt="user-icon" />
              <p>Account</p>
            </div>
          </div>
        </main>
    </div>
    <script src="/js/main.js"></script>
  </body>
</html>
