<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notifications</title> 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="handlers/assets/fonts/montserrat-cufonfonts-webfont/style.css"/>
    <link rel="stylesheet" href="handlers/assets/fonts/inter-cufonfonts-webfont/style.css"/>
    <link rel="stylesheet" href="handlers/css/bootstrap.min.css">
    <link rel="stylesheet" href="handlers/css/notifications.css" />
  </head>
  <body>
      <main id="mobile-body">
        <!--Notifications-->
        <div class="fixed-header-notification">
          <a href="index.php" class="mt-3 ">
            <img src="handlers/assets/images/previous-icon.svg" alt="previous-icon" />
          </a>
         
          <div class="mt-3">
            <h5>Notifications</h5>
          </div>
          
        </div>

        <section id="notification-container" class="news-section notification-container">
          <div class="news-item d-flex justify-content-center mb-3">
            <div class="news-profile-image">
              <img class="me-3" src="handlers/assets/images/profile-image.png" />
            </div>
            <div class="news-content pb-3">
              <div class="news-text">
                <p>
                  Torem ipsum, dolor sit amet consectetur adipisicing elit.
                  Doloremque, veniam!
                </p>
              </div>
              <div class="news-metadata">
                <div class="news-location"><span>25 mins ago</span></div>
              </div>
            </div>
          </div>
          <div class="news-item d-flex justify-content-center mb-3">
            <div class="news-profile-image">
              <img class="me-3" src="handlers/assets/images/profile-image.png" />
            </div>
            <div class="news-content pb-3">
              <div class="news-text">
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Doloremque, veniam!
                </p>
              </div>
              <div class="news-metadata">
                <div class="news-location"><span>25 mins ago</span></div>
              </div>
            </div>
          </div>
          <div class="news-item d-flex justify-content-center mb-3">
            <div class="news-profile-image">
              <img class="me-3" src="handlers/assets/images/profile-image.png" />
            </div>
            <div class="news-content pb-3">
              <div class="news-text">
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Doloremque, veniam!
                </p>
              </div>
              <div class="news-metadata">
                <div class="news-location"><span>25 mins ago</span></div>
              </div>
            </div>
          </div>
          <div class="news-item d-flex justify-content-center mb-3">
            <div class="news-profile-image">
              <img class="me-3" src="handlers/assets/images/profile-image.png" />
            </div>
            <div class="news-content pb-3">
              <div class="news-text">
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Doloremque, veniam!
                </p>
              </div>
              <div class="news-metadata">
                <div class="news-location"><span>25 mins ago</span></div>
              </div>
            </div>
          </div>
          <div class="news-item d-flex justify-content-center mb-3">
            <div class="news-profile-image">
              <img class="me-3" src="handlers/assets/images/profile-image.png" />
            </div>
            <div class="news-content pb-3">
              <div class="news-text">
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Doloremque, veniam!
                </p>
              </div>
              <div class="news-metadata">
                <div class="news-location"><span>25 mins ago</span></div>
              </div>
            </div>
          </div>
          <div class="news-item d-flex justify-content-center mb-3">
            <div class="news-profile-image">
              <img class="me-3" src="handlers/assets/images/profile-image.png" />
            </div>
            <div class="news-content pb-3">
              <div class="news-text">
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Doloremque, veniam!
                </p>
              </div>
              <div class="news-metadata">
                <div class="news-location"><span>25 mins ago</span></div>
              </div>
            </div>
          </div>
          <div class="news-item d-flex justify-content-center mb-3">
            <div class="news-profile-image">
              <img class="me-3" src="handlers/assets/images/profile-image.png" />
            </div>
            <div class="news-content pb-3">
              <div class="news-text">
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Doloremque, veniam!
                </p>
              </div>
              <div class="news-metadata">
                <div class="news-location"><span>25 mins ago</span></div>
              </div>
            </div>
          </div>
          <div class="news-item d-flex justify-content-center mb-3">
            <div class="news-profile-image">
              <img class="me-3" src="handlers/assets/images/profile-image.png" />
            </div>
            <div class="news-content pb-3">
              <div class="news-text">
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Doloremque, veniam!
                </p>
              </div>
              <div class="news-metadata">
                <div class="news-location"><span>25 mins ago</span></div>
              </div>
            </div>
          </div>
          <div class="news-item d-flex justify-content-center mb-3">
            <div class="news-profile-image">
              <img class="me-3" src="handlers/assets/images/profile-image.png" />
            </div>
            <div class="news-content pb-3">
              <div class="news-text">
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Doloremque, veniam!
                </p>
              </div>
              <div class="news-metadata">
                <div class="news-location"><span>25 mins ago</span></div>
              </div>
            </div>
          </div>
        </section>
          

        <!--Notification section-->
        <div class="fixed-navigation-tab">
          <a href="#" class="fixed-navigation-link">
            <div class="text-center mt-2">
              <svg
                class="home-icon"
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M5.86791 14.5786V12.2785C5.8679 11.6935 6.34484 11.2181 6.93576 11.2142H9.10032C9.69406 11.2142 10.1754 11.6907 10.1754 12.2785V14.5857C10.1752 15.0824 10.5757 15.4884 11.0773 15.5H12.5203C13.9588 15.5 15.125 14.3455 15.125 12.9214V6.37838C15.1173 5.81812 14.8516 5.29201 14.4035 4.94977L9.46829 1.01398C8.6037 0.328675 7.37465 0.328675 6.51006 1.01398L1.59652 4.95692C1.14669 5.29777 0.88054 5.82475 0.875 6.38552V12.9214C0.875 14.3455 2.04116 15.5 3.47968 15.5H4.92272C5.43677 15.5 5.85348 15.0875 5.85348 14.5786"
                  fill="#FFFFFF"
                />
              </svg>
              <p>Home</p>
            </div>
          </a>
          <div class="text-center report-emergency-button-container mt-2">
            <a class="report-emergency-button d-flex btn btn-danger rounded-pill text-white" 
            >
              <img
                src="handlers/assets/images/speaker-icon.png"
                class="mt-1 me-2"
                alt="speaker-icon"
              /><span class="report-emergency-button-text">Report Emergency</span>
          </a>
          </div>
          <a href="#" class="fixed-navigation-link">
            <div class="text-center mt-2">
              <svg width="14" height="17" viewBox="0 0 14 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="6.91396" cy="4.72841" r="3.72841" fill="white" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M1.00001 13.6423C0.999011 13.3802 1.05763 13.1213 1.17143 12.8852C1.52856 12.1709 2.53566 11.7924 3.37134 11.6209C3.97403 11.4923 4.58505 11.4064 5.19984 11.3638C6.33807 11.2638 7.48288 11.2638 8.62112 11.3638C9.23586 11.4069 9.84684 11.4928 10.4496 11.6209C11.2853 11.7924 12.2924 12.1352 12.6495 12.8852C12.8784 13.3665 12.8784 13.9252 12.6495 14.4065C12.2924 15.1565 11.2853 15.4993 10.4496 15.6636C9.84763 15.7976 9.23639 15.8859 8.62112 15.9279C7.69469 16.0064 6.76393 16.0208 5.83552 15.9708C5.62125 15.9708 5.41411 15.9708 5.19984 15.9279C4.58686 15.8864 3.97797 15.7981 3.37848 15.6636C2.53566 15.4993 1.5357 15.1565 1.17143 14.4065C1.05821 14.1677 0.99965 13.9066 1.00001 13.6423Z" fill="white" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              <p>Account</p>
            </div>
          </a>
        </div>
      </main>
    <!--Main body-->
   
    <script src="handlers/js/main.js"></script>
    <script src="handlers/js/notifications.js"></script>
  </body>
</html>
