<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnboardingPage</title>
    <link rel="stylesheet" href="handlers/css/bootstrap.min.css">
    <link rel="stylesheet" href="handlers/css/authenti_reg.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
    <script>
    
    </script>
</head>
<body>
    <!-- Carousels -->
    <section class="home" data-role="page">
        <div id="carousels" class="carousel slide" data-role="main" data-bs-ride="carousel" data-touch="false">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carousels" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carousels" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carousels" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" style="background-image: url(handlers/assets/images/sad-phone.jpeg);">
                    <a href="loginpage.html" data-transition="slide" class="skip fontRegular float-end m-4">skip</a>
                    <div class=" center text-center container fontRegular">
                        <p>What if i told you that you now have access to what is happening around you
                        </p>
                    </div>
                </div>
                <div class="carousel-item" style="background-image: url(handlers/assets/images/capture-phone.jpeg);">
                    <a href="loginPage.html" class="skip fontRegular float-end m-4">skip</a>
                    <div class="container text-center center fontRegular">
                        <p>
                            It takes few seconds to inform your loved ones of an emergency
                        </p>
                    </div>
                </div>
                <div class="carousel-item" style="background-image: url(handlers/assets/images/danger-phone.jpeg); position: relative;">
                    <div class="center text-center container fontRegular">
                        <p>Now, you have all this features and more in Whatch App
                        </p>
                    </div>
                    <div class="container started center">
                        <a href="loginpage.html" class="">
                            <input type="button" class="form-control form-control-lg btn btn-primary bg-primary-override fontRegular" id="getStarted" value="Get Started">
                        </a>
                    </div>
                </div>
            </div>
    </section>

    <script src="handlers/css/bootstrap.min.js"></script>
    <!-- just jquery for touch swipe-->
    <!-- <script>
        $('.carousel').on('touchstart', function(event){
            const xClick = event.originalEvent.touches[0].pageX;
            $(this).one('touchmove', function(event){
                const xMove = event.originalEvent.touches[0].pageX;
                const sensitivityInPx = 5;

                if( Math.floor(xClick - xMove) > sensitivityInPx ){
                    $(this).carousel('prev');
                }
                else if( Math.floor(xClick - xMove) < -sensitivityInPx ){
                    $(this).carousel('next');
                }
            });
            $(this).on('touchend', function(){
                $(this).off('touchmove');
            });
       });
    </script> -->

    <!-- for jquerymobile for swipe-->
    <script>
        $(document).ready(function() {
           $("carousels").swiperight(function() {
              $(this).carousel('prev');
            });
           $("#carousels").swipeleft(function() {
              $(this).carousel('next');
           });
        });
        </script>

        <!-- for hammer.js for swipe-->
        <script>
            $(document).ready(function() {
               Hammer(myCarousel).on("swipeleft", function(){
                    $(this).carousel('next');
                });
                Hammer(myCarousel).on("swiperight", function(){
                    $(this).carousel('prev');
                });
            });
        </script>
</body>
</html>